# **Data Types and Structures Questions**

Q-1 What are data structures, and why are they important ?

ANS-
Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently. They are important because they help optimize data processing, improve performance, and make it easier to manage large amounts of information in software development.

Q-2 Explain the difference between mutable and immutable data types with examples.

ANS- Mutable data types can be changed after creation, while immutable data types cannot be changed once created.
Examples:

**Mutable:**

List → You can modify, add, or remove elements.

my_list = [1, 2, 3]

my_list.append(4)  # Now it's [1, 2, 3, 4]


**Immutable:**

Tuple, String, int → You cannot change the content directly.

my_string = "hello"

my_string = "Hello"  # Creates a new string instead

Q-3 What are the main differences between lists and tuples in Python?

ANS- Here are the main differences between lists and tuples in Python:

| Feature         | **List**                         | **Tuple**                      |
| --------------- | -------------------------------- | ------------------------------ |
| **Mutability**  | Mutable (can be changed)         | Immutable (cannot be changed)  |
| **Syntax**      | `[]` (square brackets)           | `()` (parentheses)             |
| **Performance** | Slower (due to flexibility)      | Faster (due to immutability)   |

Q-4 Describe how dictionaries store data.

ANS- Dictionaries in Python store data as key-value pairs using a hash table. Each key is unique and maps to a specific value. Python uses the key's hash to quickly find and retrieve the value, making lookups fast and efficient.

Q-5 Why might you use a set instead of a list in Python?

ANS-
You might use a set instead of a list in Python when:

* You want to store unique items (sets automatically remove duplicates).

* You need faster membership checks (e.g., x in set is faster than x in list).

* You want to perform set operations like union, intersection, or difference.

Q-6 What is a string in Python, and how is it different from a list?

ANS-
A string in Python is a sequence of characters (e.g., "hello"), used to store text.In short: and
A string stores text and is immutable, while a list can store any data and is mutable

Q-7 How do tuples ensure data integrity in Python?

ANS- Tuples ensure data integrity in Python because they are immutable, meaning once created, their contents cannot be changed. This prevents accidental modification or deletion of data, making tuples ideal for storing fixed sets of values that must stay constant throughout the program.

Q-8 What is a hash table, and how does it relate to dictionaries in Python?

ANS-
A hash table is a data structure that stores data in key-value pairs and uses a hash function to convert keys into indexes for fast data lookup.

In Python, dictionaries use a hash table internally. When you provide a key, Python computes its hash to quickly find where the value is stored, making data access very fast.

Q-9  Can lists contain different data types in Python?

ANS- Yes, lists in Python can contain different data types together.

**For example**: my_list = [1, "harshit", 3.14, True]

Q-10 Explain why strings are immutable in Python.

ANS- Strings are immutable in Python to ensure data integrity and performance. Because strings can't be changed after creation:

* It prevents accidental modification of text data.

* It allows Python to optimize memory usage by reusing string objects.

* It makes strings thread-safe (safe to use in multiple parts of a program simultaneously).

Q-11 What advantages do dictionaries offer over lists for certain tasks?


ANS- Dictionaries offer these advantages over lists for certain tasks:

* Fast lookups: Accessing data by key is much faster than searching a list.

* Key-value pairs: Store related data together (e.g., name and age) instead of just values.

* Uniqueness of keys: Keys are unique, preventing duplicate entries for identifiers.

* Flexible keys: Keys can be strings, numbers, or tuples (immutable types), allowing more meaningful indexing than just positions.

Q-12 Describe a scenario where using a tuple would be preferable over a list.

ANS- A tuple is preferable over a list when you need to store a fixed set of values that should not change, such as the coordinates of a point (x, y), or the RGB values of a color.

Q-13 How do sets handle duplicate values in Python?

ANS- In Python, sets automatically remove duplicate values. When you add items to a set, any duplicates are ignored, so each value appears only once in the set.

Q-14 How does the “in” keyword work differently for lists and dictionaries?

ANS- The in keyword works differently for lists and dictionaries like this:

* **In lists:**

in checks if a value exists anywhere in the list by scanning through all items (slower for large lists).

* **In dictionaries:**

in checks if a key exists in the dictionary using a hash table, which is much faster.

Q-15 Can you modify the elements of a tuple? Explain why or why not.

ANS- No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its contents cannot be changed — you can’t add, remove, or update items. This immutability ensures data integrity and makes tuples faster and safer to use when you want fixed data

Q-16 What is a nested dictionary, and give an example of its use case?

ANS- A nested dictionary is a dictionary where values themselves are dictionaries. This lets you store complex, hierarchical data.

EXAMPLE:- students = {
    "Alice": {"Math": 90, "Science": 85}, "Bob": {"Math": 78, "Science": 82}

Q-17  Describe the time complexity of accessing elements in a dictionary.

ANS- Accessing elements in a dictionary generally has O(1) time complexity—meaning it takes constant time. This is because dictionaries use a hash table, which allows Python to quickly locate the value by computing the key's hash.

Q-18 In what situations are lists preferred over dictionaries?

ANS- Lists and dictionaries both store collections of items, but they’re designed for different use cases.

 Here are some situations where lists are preferred over dictionaries:

 1.Ordered Data 2.Simple Collections of Items 3.Index-Based Access 4.Duplicates Allowed 5.Iterating Over Elements 6.Memory Efficiency

Q-19 Why are dictionaries considered unordered, and how does that affect data retrieval?

ANS- Dictionaries are considered unordered because they retrieve values by keys, not by position. Before Python 3.7, they didn’t preserve insertion order. Even though newer versions do, dictionaries still don’t support index-based access. This affects data retrieval by requiring you to know the key to get a value — you can't access items by position like in a list.

Q-20 P Explain the difference between a list and a dictionary in terms of data retrieval.

ANS -Difference between a List and a Dictionary in terms of Data Retrieval:

**List:**

Data is retrieved using an index (position). You must know the item's position in the list.

 Example: my_list[2] gives the 3rd item.

**Dictionary:**

Data is retrieved using a key (a unique identifier). You must know the key to access its value.

Example: my_dict["name"] gives the value for the key "name".

**Key Point:**

**List** = position-based retrieval

**Dictionary** = key-based retrieval

# **Practical Questions**

Q-1 Write a code to create a string with your name and print it.

In [1]:
a = "harshit mishra"
print(a)

harshit mishra

Q-2 Write a code to find the length of the string "Hello World".

In [2]:
a = "hello world"
print(a)
print(len(a))

hello world
11

Q-3 Write a code to slice the first 3 characters from the string "Python Programming".

In [7]:
s = "Python Programming"
print(s[0:3])

Pyt

Q-4  Write a code to convert the string "hello" to uppercase.

In [8]:
a = "hello"
print(a.upper())

HELLO

Q-5  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [9]:
a = "I like apple"
print(a.replace("apple" , "orange"))

I like orange

Q-6 Write a code to create a list with numbers 1 to 5 and print it.

In [10]:
number = [1, 2, 3, 4, 5]
print(number)

[1, 2, 3, 4, 5]

Q-7 Write a code to append the number 10 to the list [1, 2, 3, 4].

In [12]:
number = [1, 2, 3, 4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

Q-8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [13]:
number = [1, 2, 3, 4, 5]
number.remove(3)
print(number)

[1, 2, 4, 5]

Q-9  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [17]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

Q-10 Write a code to reverse the list [10, 20, 30, 40, 50].

In [21]:
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

Q-11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [83]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q-12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [34]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

Q-13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [35]:
number = (10, 20, 5, 15)
print(min(number))

5

Q-14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [52]:
animal = ('dog', 'cat', 'rabbit',)
print(animal.index("cat"))

1

Q-15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [54]:
fruits = ("apple", "banana", "mango")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

Q--16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [55]:
alphabet = {'a', 'b', 'c'}
print(alphabet)

{'a', 'c', 'b'}

Q-17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [56]:
number = {1, 2, 3, 4, 5}
number.clear()
print(number)

set()

Q-18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [57]:
number = {1, 2, 3, 4}
number.remove(4)
print(number)

{1, 2, 3}

Q-19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [58]:
number1 = {1, 2, 3}
number2 = {3, 4, 5}

union_set = number1.union(number2)
print(union_set)

{1, 2, 3, 4, 5}

Q-20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [59]:
number1 = {1, 2, 3}
number2 = {2, 3, 4}

intersection_set = number1.intersection(number2)
print(intersection_set)

{2, 3}

Q-21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [61]:
person = {"name": "Alice","age": 25,"city": "mathura"}

print(person)

{'name': 'Alice', 'age': 25, 'city': 'mathura'}

Q-22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [62]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q-23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [63]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

Q-24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [64]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

Q-25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [70]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

Q-26 Write a code to create a list, a tuple, and a dictionary, and print them all.

In [71]:
# Creating a list
my_list = [1, 2, 3]

# Creating a tuple
my_tuple = ('a', 'b', 'c')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 30}

Q-27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [77]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print(random_numbers)

[9, 14, 26, 41, 76]

Q-28 Write a code to create a list with strings and print the element at the third index.

In [78]:
my_list = ["apple", "banana", "cherry", "date", "fig"]
print(my_list[3])

date

Q-29 Write a code to combine two dictionaries into one and print the result.

In [80]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q-30 Write a code to convert a list of strings into a set.

In [81]:
my_list = ["apple", "banana", "apple", "cherry", "banana"]
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'apple'}